.hamburger {
    height: 60px;
    width: 60px;
    /* 要跟nav選單高度一致寬度一致 */
    background-color: #333;
    /* border: 1px solid black; */

    position: relative;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 40px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hamburger span::before {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    bottom: 10px;
}

.hamburger span::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
}

.hamburger-x {
    height: 60px;
    width: 60px;
    /* 要跟nav選單高度一致寬度一致 */
    background-color: #333;
    /* border: 1px solid black; */

    position: relative;
    cursor: pointer;
}

.hamburger-x span {
    display: block;
    width: 40px;
    height: 5px;
    /* background-color: #b3fcff; */
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hamburger-x span::before {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    /* bottom: 10px; */
    transform: rotate(45deg);
}

.hamburger-x span::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    /* top: 10px; */
    transform: rotate(-45deg);
}
