/* global start  */
:root {
    --primaryColor: #ff6a48;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

li {
    float: left;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Global end  */

/* GRID FOR DESKTOP  */
* {
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.fixed-width {
    width: 1200px;
    margin: auto;
}

.col-1 {
    width: calc(100% * 1 / 12);
}

.col-2 {
    width: calc(100% * 2 / 12);
}

.col-3 {
    width: calc(100% * 3 / 12);
}

.col-4 {
    width: calc(100% * 4 / 12);
}

.col-5 {
    width: calc(100% * 5 / 12);
}

.col-6 {
    width: calc(100% * 6 / 12);
}

.col-7 {
    width: calc(100% * 7 / 12);
}

.col-8 {
    width: calc(100% * 8 / 12);
}

.col-9 {
    width: calc(100% * 9 / 12);
}

.col-10 {
    width: calc(100% * 10 / 12);
}

.col-11 {
    width: calc(100% * 11 / 12);
}

.col-12 {
    width: calc(100% * 12 / 12);
}

.nopa {
    padding: 0 !important;
}

[class*='col'] {
    float: left;
    padding: 10px;
}

/* div {
    height: 100px;
} */
/* .nopa {
    margin-left: -10px;
    margin-right: -10px;
} */

.no {
    margin-left: -10px;
    margin-right: -10px;
}

.btn1 {
    display: inline-block;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 16px 40px;
    text-decoration: none;
    border: 3px solid rgba(249, 198, 180, 0.4);
}

.date {
    display: inline-block;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 15px 20px;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: var(--primaryColor);
    color: #fff;
    text-decoration: none;
}

/* nav-info */
#nav-info {
    /* height: 50px; */
    /* line-height: 50px; */
    /* background-color: #ccc; */
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.75); */
}

#nav-info a {
    /* text-decoration: none;
    color: #000; */
    /* padding-left: 15px;
    padding-right: 15px; */
    display: block;
    padding: 8px 15px;
}
#nav-info .addr {
    float: left;
    padding: 8px 15px;
    /* line-height: 50px; */
}

#nav-info .register {
    float: right;
    /* line-height: 50px; */
}

#nav-info .donate {
    float: right;
}

/* #nav-info .addr li {
    float: left;
    list-style: none;
}

#nav-info .register li {
    float: left;
    list-style: none;
} */

/* nav  */

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 74px;
    /* background-color: rgba(255, 255, 255, 0.75); */
}
nav a {
    display: block;
    padding: 8px 15px;
}
nav .logo {
    float: left;
}

nav .menu {
    float: right;
}

nav .menu li {
    float: left;
}

header {
    height: 800px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(https://source.unsplash.com/random/1520x720?sig=4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* additional  */
#additional {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://source.unsplash.com/random/1520x720?sig=3);
}

#additional li {
    float: left;
    list-style: none;
    color: #fff;
}

#additional li1 {
    float: left;
    list-style: none;
    color: rgba(249, 198, 180, 0.4);
}

#additional .col-6 {
    color: #fff;
}

/* feature  */
#feature {
    padding-top: 50px;
    padding-bottom: 50px;
}

#feature .col-7 {
    /* background-color: #fa0; */
}
#feature .col-5 {
    /* background-color: #aa0; */
}
#feature .col-2 {
    /* background-color: #0af; */
}
#feature .col-12 {
    /* background-color: #a0f; */
}
#feature .col-10 {
    /* background-color: #f00; */
}
#feature h2 {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#feature h3 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
}

#feature p {
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 204, 0.6);
}

/* #feature .col-5 {
    padding: 40px 60px;
} */

.feature-gallery {
    padding: 40px 60px;
}

.line {
    position: relative;
}

.line::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 3px solid var(--primaryColor);
    width: 60px;
    top: 22px;
    left: 1px;
}

.line-light::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 3px solid #fff;
    width: 60px;
    top: 22px;
    left: 1px;
}

.line1 {
    position: relative;
}

.line1::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 70px solid rgba(249, 198, 180, 0.4);
    width: 1px;
    top: 1px;
    left: 20px;
}

.line1-light::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 70px solid rgba(249, 198, 180, 0.4);
    width: 1px;
    top: 1px;
    left: 20px;
}

.line2 {
    position: relative;
}

.line2::before {
    content: '';
    display: block;
    color: #fff;
    position: absolute;
    border-top: 3px solid #fff;
    width: 60px;
    top: 5px;
    left: 1px;
}

.line2-light::before {
    content: '';
    display: block;
    color: #fff;
    position: absolute;
    border-top: 3px solid #fff;
    width: 60px;
    top: 5px;
    left: 1px;
}

/* events  */
#events {
    padding-top: 50px;
    padding-bottom: 50px;

    background-image: linear-gradient(rgba(255, 96, 96, 0.6), rgba(255, 96, 96, 0.6)), url(https://source.unsplash.com/random/1200x300);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding: 0 100px;
}

#events p {
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
}

#events h2 {
    color: #fff;
}

/* gallery */
#gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}

#gallery .col-4 {
    height: 600px;
    width: 400px;
    overflow: hidden;
}

/* upcoming  */
#upcoming {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://source.unsplash.com/random/1520x720?sig=1);
}

#upcoming li {
    float: left;
    list-style: none;
    color: #fff;
    padding-top: 5px;
}

#upcoming li1 {
    padding-left: 10px;
}

.date1 {
    display: inline-block;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 15px 20px;
    text-decoration: none;
}

.btn2 {
    display: inline-block;
    color: #fff;
    padding: 15px 40px;
    text-decoration: none;
    border: 3px solid rgba(249, 198, 180, 0.4);
}

.line3 {
    position: relative;
}

.line3::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 30px solid rgba(249, 198, 180, 0.4);
    width: 1px;
    top: 1px;
    left: 20px;
}

.line3-light::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 30px solid rgba(249, 198, 180, 0.4);
    width: 1px;
    top: 1px;
    left: 20px;
}

/* blog  */
#blog .btn1 {
    display: inline-block;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 8px 20px;
    text-decoration: none;
    border: 3px solid rgba(249, 198, 180, 0.4);
}

#blog .li {
    float: left;
    list-style: none;
    color: #000;
    padding-bottom: 10px;
}

#blog .tit {
    padding-top: 15px;
}

#blog .col-7 {
    width: calc(100% * 7 / 12);
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pic {
    position: relative;
}

#blog .date {
    display: inline-block;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 16px 20px;
    text-decoration: none;
    position: absolute;
    top: 200px;
    left: 0px;
}

.tit {
    padding-top: 20px;
}

.cont {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btnv {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* pastor  */
#pastor {
    padding-top: 50px;
    padding-bottom: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://source.unsplash.com/random/1520x720?sig=2);
}

#pastor .col-5 {
    width: calc(100% * 5 / 12);
    padding-left: 0px;
}

#pastor .col-7 {
    width: calc(100% * 7 / 12);
    padding-left: 0px;
}

#pastor .col-6 {
    width: calc(100% * 6 / 12);
    padding-left: 0px;
}

#pastor li {
    float: left;
    list-style: none;
    color: #fff;
    padding-bottom: 10px;
}

.live {
    padding-top: 50px;
}

#pastor .line {
    position: relative;
}

#pastor .line::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 3px solid #fff;
    width: 60px;
    top: 5px;
    left: 1px;
}

#pastor .line-light::before {
    content: '';
    display: block;

    position: absolute;
    border-top: 3px solid #fff;
    width: 60px;
    top: 5px;
    left: 1px;
}

#pastor .line2 {
    position: relative;
}

#pastor .line2::before {
    content: '';
    display: block;
    color: #fff;
    position: absolute;
    border-top: 1px solid #fff;
    width: 350px;
    top: 1px;
    left: 1px;
}

#pastor .line2-light::before {
    content: '';
    display: block;
    color: #fff;
    position: absolute;
    border-top: 1px solid #fff;
    width: 350px;
    top: 1px;
    left: 1px;
}

/* footer  */
footer {
    height: 50px;
    line-height: 50px;
}

footer .col-4 {
    text-align: right;
}

footer .col-4 a {
    margin: 0 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #aaa;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

footer .col-4 a:hover {
    background-color: #333;
    color: #fff;
}
